<!DOCTYPE html>
<html lang="en">
<head>
<!-- head -->
{{> head }}
	
<!-- Yeah i know js should not be in header. Its required for demos.-->

<!-- javascript -->
{{> javascripts }}

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1798915253513360');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none" 
       src="https://www.facebook.com/tr?id=1798915253513360&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code --><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-871642157"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());  gtag('config', 'UA-150196058-3');
gtag('config', 'AW-871642157');
</script></head>
<body>
<!-- header -->
{{> header }}

<!-- title -->
{{> title }}
<div id="docs">
	<div class="row">
		<div class="small-12 medium-3 large-3 columns">
			{{> sidenav-docs }}
		</div>
		<div class="small-12 medium-9 large-9 columns">
			<article class="docs-content">
				{{> body }}
			</article>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer }}

<!-- vendors -->
{{> vendors }}
	</body>
</html>